@font-face {   
  font-family: Raleway; 
  src:
  url("/fonts/raleway/Raleway-Regular.ttf");
}

body {
  padding-top: 70px;
}

/* BEGIN NAVIGATION */
.navbar{
  background-color: #212C37;

}

.navbar .navbar-brand{
  color: #efefef;
}

#login-buttons a#login-sign-in-link{
  color: #fff;
  text-decoration: none;
}
/* END NAVIGATION */

/* BEGIN MAIN */

/* END MAIN */

/* BEGIN VIDEO LIST */
div.list-group-item {
    height:auto;
    min-height:210px;
    padding: 15px 0;
}
.list-group-item button {
  border-radius: 0;
}
.stars {
    margin:20px auto 1px;    
}

.leason-excerpt {
  padding: 0; 
}

.leason-excerpt h4 {
  margin-bottom: 15px;
}
/* END VIDEO LIST */
