.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.lesson-details {
  padding: 10px;
  margin-bottom: 0;
}

.lesson-title {
  margin-top: 0;
}

.lesson-details .social-share {
  position: absolute;
  bottom: 10px;
}

@media only screen and (max-width: 992px) {
  .flex-row {
    display: block;
  }

  .lesson-details .social-share {
  position: static;
}
}