h1 {
  font-size: 66px;
}

p {
  font-size: 18px;
}

q {
  display: block;
  border-left: 10px solid #00FF39;
  quotes: "“" "”" "‘" "’";
  font-size: 20px;
  padding: 0 0 0 20px;
  margin: 5px 0;
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

.btn-lesson-submit {
  width: 100%;
}

img.profile {
    width: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.lesson-details {
  padding: 10px;
  margin-bottom: 0;
}

.lesson-title {
  margin-top: 0;
}

.lesson-details .social-share {
  position: absolute;
  bottom: 10px;

}

@media only screen and (max-width: 992px) {
  .flex-row {
    display: block;
  }

  .lesson-details .social-share {
  position: static;
  }
}

/*Share buttons*/
.twitter-share-button[style] { vertical-align: text-bottom !important; }
