<template name="navbar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          thesources.co
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="close-navbar">
            {{> loginButtons align="right" class="close-navbar"}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
