<template name="mainLayout">
  {{> navbar}}
  <main>
    <div class="container">
      {{> Template.dynamic template=main}}
    </div>
  </main>
</template>

<template name="videoList">
  <div class="row">
    <div class="list-group">
      <div class="list-group-item clearfix">
        <div class="media col-md-3 col-sm-6">
          <figure class="pull-left">
            <img class="media-object img-rounded img-responsive img-lesson-thumb" src="/images/thumbnails/power-distance.jpg" alt="placehold.it/350x250" >
          </figure>
        </div>
        <div class="col-md-6 col-sm-6 lesson-excerpt">
          <h4 class="list-group-item-heading">Overcoming Power Distance</h4>
          <p class="list-group-item-text">  Power Distance is a real issue. Entrepreneurs need to connect to influencers to move forward. Learn how founders across Africa went straight to the top of large organisations to make deals. 
          </p>
        </div>
        <div class="col-md-3 col-sm-12 text-center lesson-watch">
          <a class="btn btn-success btn-lg btn-block" href="/lessons/power-distance"> Start Lesson <i class="fa fa-play-circle-o"></i></a>
        </div>
      </div>
      <div class="list-group-item clearfix">
        <div class="media col-md-3 col-sm-6">
          <figure class="pull-left">
            <img class="media-object img-rounded img-responsive img-lesson-thumb" src="/images/thumbnails/getting-to-investment.jpg" alt="placehold.it/350x250" >
          </figure>
        </div>
        <div class="col-md-6 col-sm-6 lesson-excerpt">
          <h4 class="list-group-item-heading">Getting To Investment</h4>
          <p class="list-group-item-text"> The gap between launch and investment can seem daunting. Learn from African founders who've grown without investors - through customer-funding like pre-payments, cashflow management, and consulting.
          </p>
        </div>
        <div class="col-md-3 col-sm-12 text-center lesson-watch">
          <a class="btn btn-success btn-lg btn-block" href="/lessons/getting-to-investment"> Start Lesson <i class="fa fa-play-circle-o"></i></a>
        </div>
      </div>
      <div class="list-group-item clearfix">
        <div class="media col-md-3 col-sm-6">
          <figure class="pull-left">
            <img class="media-object img-rounded img-responsive img-lesson-thumb" src="/images/thumbnails/getting-grants.jpg" alt="placehold.it/350x250" >
          </figure>
        </div>
        <div class="col-md-6 col-sm-6 lesson-excerpt">
          <h4 class="list-group-item-heading">Getting Grants: Show Me How</h4>
          <p class="list-group-item-text"> Take an in-depth look at Matt Wainright,  a former Deloitte consultant who started a business called Standard Microgrid to provide scalable power to rural Africa. They raised $250,000 from 3 grants in 9 months, and he shows us the system he used to do it.
          </p>
        </div>
        <div class="col-md-3 col-sm-12 text-center lesson-watch">
          <a class="btn btn-success btn-lg btn-block" href="/lessons/getting-grants"> Start Lesson <i class="fa fa-play-circle-o"></i></a>
        </div>
      </div>
    </div>
  </div>
</template>
